.principal {
    height: calc(100vh - theme('height.Principal')
    );
    @apply grid grid-cols-1 
   
}

.main {
    @apply w-full  flex flex-col items-center px-9 mt-11
}

.container {
    @apply min-h-full relative flex flex-col justify-end items-end
}

.addButton {
    border-radius: 10px;
    height: 4rem;
    font-size: 3.5rem;
  @apply bg-primaryBlue w-16 text-white mx-8 my-10 pb-16 font-semibold
  }
  
  .add-button:hover {
    background-color: #163352;
  }
  
  .add-button:active {
    background-color: #005cbf;
  }